---

interface Props {
    url: string;
    title: string;
    description: string;
    image: {
        url: string;
        alt: string;
    };
}

const { url, title, description, image } = Astro.props;
---
<a href={url}>
    <div class="card">
        <img class="cover" src={image.url} width="374" height="213" alt={image.alt} />
        <div class="content">
            <h1 class="title">
                {title}
            </h1>
            <p class="resume">
                {description}
            </p>
        </div>
    </div>
</a>

<style>
a {
    @apply block;
}

.card {
    @apply max-w-sm bg-white border rounded-lg;
    @apply hover:border-gray-300;
    @apply dark:bg-zinc-950 dark:border-zinc-700 dark:hover:bg-zinc-900 dark:hover:border-zinc-600;

    .content {
        @apply p-4;
    }

    .cover {
        @apply rounded-t-lg w-full aspect-video;
    }

    .title {
        @apply mb-3 text-xl font-semibold tracking-tight text-gray-900;
        @apply dark:!text-slate-100;
    }

    .resume {
        @apply font-normal text-gray-700 line-clamp-3 leading-relaxed;
        @apply dark:!text-slate-500;
    }
}
</style>
