---
import { Icon } from 'astro-icon/components';
import InlineNav from "./InlineNav.astro";
import config from "../config";

const appVersion = config.app.version;

const socialNav = [
    {
        icon: 'github',
        label: '',
        url: 'https://github.com/edcilo'
    },
    {
        icon: 'linkedin',
        label: '',
        url: 'https://linkedin.com/in/edcilo'
    },
    {
        icon: 'x',
        label: '',
        url: 'https://x.com/edcilo'
    },
]

const poweredBy = [
    {
        icon: 'cloudflare',
        url: 'https://www.cloudflare.com/',
        label: 'cloudflare',
    },
    {
        icon: 'netlify',
        url: 'https://www.netlify.com/',
        label: 'netlify',
    },
    {
        icon: 'astro',
        url: 'https://astro.build/',
        label: 'astro',
    },
    {
        icon: 'html5',
        url: 'https://html.spec.whatwg.org/',
        label: 'html',
    },
    {
        icon: 'css',
        url: 'https://www.w3.org/Style/CSS/',
        label: 'css',
    },
    {
        icon: 'tailwind',
        url: 'https://tailwindcss.com/',
        label: 'tailwind',
    },
    {
        icon: 'javascript',
        url: 'https://www.ecma-international.org/publications-and-standards/standards/ecma-262/',
        label: 'javascript',
    },
    {
        icon: 'typescript',
        url: 'https://www.typescriptlang.org/',
        label: 'typescript',
    },
]
---

<footer>
    <div class="footer-container">
        <InlineNav items={socialNav} />
    </div>
    <div class="about-container">
        <p class="rights">&copy; 2010-2024 <a href="/">edcilo.com</a> (v {appVersion})</p>
        <span class="powered-by">
            {poweredBy.map(tech => (
                <a href={tech.url} target="_blank" title={tech.label} aria-label={tech.label}>
                    <Icon class="icon" name={tech.icon} />
                </a>
            ))}
        </span>
    </div>
</footer>

<style>
footer {
    @apply border-t p-3 pb-6 antialiased;
    @apply bg-white;
    @apply sm:flex sm:items-center sm:justify-between;
    @apply dark:border-zinc-700 dark:bg-zinc-950;

    a {
        @apply !cursor-pointer;
    }

    .rights {
        @apply mb-1 text-sm text-center text-gray-500;
        @apply sm:text-right;
        @apply dark:!text-slate-600;

        a {
            @apply hover:underline;
        }
    }

    .powered-by {
        @apply flex justify-center gap-2 mt-1;
        @apply sm:justify-end;

        .icon {
            @apply size-4;
        }
    }

    .footer-container {
        @apply flex justify-center items-center space-x-1 mb-6;
        @apply sm:justify-start;
    }
}
</style>