---
import ProjectCard from "./ProjectCard.astro";

const projects = [
    {
        url: 'https://www.passwordgenerator.cool/',
        image: '/assets/portfolio/00_password.webp',
        title: 'Password Generator',
        description: 'Un generador de contraseñas sencillo que te permite elegir la longitud y el tipo de caracteres a incluir.',
        tags: [
            { label: 'HTML', icon: 'html5', type: 'info'},
            { label: 'CSS', icon: 'css', type: 'info'},
            { label: 'JavaScript', icon: 'javascript', type: 'info'},
            { label: 'ReactJS', icon: 'reactjs', type: 'info'},
            { label: 'NextJS', icon: 'nextjs', type: 'info'},
        ],
    },
    {
        url: 'https://epoch.edcilo.com/',
        image: '/assets/portfolio/01_epoch.webp',
        title: 'Epoch Converter',
        description: 'Un sencillo conversor de época que convierte el tiempo de época a tiempo legible por humanos.',
        tags: [
            { label: 'HTML', icon: 'html5', type: 'info'},
            { label: 'CSS', icon: 'css', type: 'info'},
            { label: 'JavaScript', icon: 'javascript', type: 'info'},
            { label: 'ReactJS', icon: 'reactjs', type: 'info'},
            { label: 'NextJS', icon: 'nextjs', type: 'info'},
        ],
    }
]
---

<div id="portfolio" class="portfolio">
	<div class="background"></div>

    <div class="content">
        <h1>Porfolio</h1>

        <div class="container">
            {projects.map(project => (
                <ProjectCard
                    image={project.image}
                    url={project.url}
                    name={project.title}
                    description={project.description}
                    tags={project.tags} />
            ))}
        </div>
    </div>
</div>

<style>
.portfolio {
    @apply relative flex flex-col items-center py-16;

    h1 {
        font-family: var(--font-mono);
        @apply my-9 text-4xl font-medium text-center;
        @apply dark:!text-slate-100;
    }

    .background {
        @apply z-0 absolute top-0 h-full w-full;
        @apply bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] [background-size:16px_16px] [mask-image:radial-gradient(ellipse_50%_50%_at_50%_50%,#000_60%,transparent_100%)];
        @apply dark:!bg-[radial-gradient(#3f3f45_1px,transparent_1px)]
    }

    .content {
        @apply z-10;
    }

    .container {
        @apply max-w-screen-md columns-1 gap-4;
        @apply md:columns-2;
    }
}
</style>