---
import ProjectCard from "./ProjectCard.astro";

const projects = [
    {
        url: 'https://epoch.edcilo.com/',
        image: '/assets/portfolio/01_epoch.webp',
        title: 'Epoch Converter',
        description: 'Un sencillo conversor de época que convierte el tiempo de época a tiempo legible por humanos.',
        tags: [
            { label: 'HTML', icon: 'html5', type: 'info'},
            { label: 'CSS', icon: 'css', type: 'info'},
            { label: 'JavaScript', icon: 'javascript', type: 'info'},
            { label: 'ReactJS', icon: 'reactjs', type: 'info'},
            { label: 'NextJS', icon: 'nextjs', type: 'info'},
        ],
    },
    {
        url: 'https://www.passwordgenerator.cool/',
        image: '/assets/portfolio/00_password.webp',
        title: 'Password Generator',
        description: 'Un generador de contraseñas sencillo que te permite elegir la longitud y el tipo de caracteres a incluir.',
        tags: [
            { label: 'HTML', icon: 'html5', type: 'info'},
            { label: 'CSS', icon: 'css', type: 'info'},
            { label: 'JavaScript', icon: 'javascript', type: 'info'},
            { label: 'ReactJS', icon: 'reactjs', type: 'info'},
            { label: 'NextJS', icon: 'nextjs', type: 'info'},
        ],
    },
    {
        url: '/landing/2022',
        image: '/assets/portfolio/02_landing_2022.webp',
        title: 'Landing 2022',
        description: 'Una landing page para el año 2022.',
        tags: [
            { label: 'HTML', icon: 'html5', type: 'info'},
            { label: 'CSS', icon: 'css', type: 'info'},
            { label: 'SASS', icon: 'sass', type: 'info'},
            { label: 'Astro', icon: 'astro', type: 'info'},
        ]
    },
]
---

<section id="portfolio" class="portfolio">
	<div class="background"></div>

    <div class="content">
        <h2 class="title">Porfolio</h2>

        <div class="container">
            <div class="grid">
                {projects.map(project => (
                    <ProjectCard
                        image={project.image}
                        url={project.url}
                        name={project.title}
                        description={project.description}
                        tags={project.tags} />
                ))}
            </div>
        </div>
    </div>
</section>

<style>
.portfolio {
    @apply relative flex flex-col items-center py-16;

    .title {
        @apply font-mono my-9 text-4xl font-medium text-center;
        @apply dark:!text-slate-100;
    }

    .background {
        @apply z-0 absolute top-0 h-full w-full;
        @apply bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] [background-size:16px_16px] [mask-image:radial-gradient(ellipse_50%_50%_at_50%_50%,#000_60%,transparent_100%)];
        @apply dark:!bg-[radial-gradient(#3f3f45_1px,transparent_1px)]
    }

    .content {
        @apply z-10;
    }

    .container {
        @apply max-w-screen-md gap-4 px-4;
    }

    .grid {
        @apply grid-cols-1 content-center gap-4;
        @apply md:grid-cols-2;
    }
}
</style>