---
import { Icon } from 'astro-icon/components';

type Tech = {
    name: string;
    icon: string;
    libraries?: {
        name: string;
        icon: string;
    }[]
}

interface Props {
    title: string;
    techs: Tech[];
}

const { title, techs } = Astro.props;
---

<div class="skill-card">
    <h2>{title}</h2>

    <div class="container">
        {techs.map(tech => (
            <div class="tech">
                <div>
                    <Icon title={tech.name} class="tech-icon" name={tech.icon} />
                </div>
                {tech.libraries && <div class="libraries">
                    {tech.libraries?.map(library => {
                        return (
                            <div class="library">
                                <Icon title={library.name} class="library-icon" name={library.icon} />
                            </div>
                        )
                    })}
                </div>}
            </div>
        ))}
    </div>
</div>

<style>
.skill-card {
    @apply p-4;

    h2 {
        @apply font-mono text-center font-semibold;
        @apply dark:text-slate-100;
    }

    .container {
        @apply flex justify-center gap-3 p-4;
    }

    .tech {
        @apply flex flex-col items-center mb-3;

        .tech-icon {
            @apply size-12 mb-1;
            @apply text-zinc-900;
            @apply dark:!text-slate-100;
        }

        .libraries {
            @apply flex gap-1;
            @apply bg-slate-200 rounded-sm p-1;
            @apply dark:!bg-zinc-700;

            .library-icon {
                @apply size-4;
            }
        }
    }
}
</style>